
.light_dashboard{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;
}



.light_dashboard .light_tile{
    animation: none;
}


/*
---------------------------------------------------------------------------------
*/


    .light_dashboard .light_container{
        grid-row: 2/9;
        grid-column:2/13;

        height: 100%;
        width: 100%;
        z-index: 0;

        background-color: transparent;

        display: flex;
        justify-content: center;
        align-content: flex-start;

        align-items: center;
        flex-wrap: wrap;
        
        overflow-y: scroll;
    }

    .light_dashboard .light_container .light_wrapper{
        justify-content: center;
   

    }

    .light_container_global{
        grid-row: 2/9;
        grid-column:2/13;

        height: 100%;
        width: 100%;

        padding: 0%;
        margin: 0%;
    }
    .light_container_global .zone_section{
        width: 100%;
        padding: 0%;
        height: 100%;
        justify-content: center
    }

        .light_container_global .light_wrapper{
            justify-content: center;
        }

/*
--------------------------------------------------------------------------------------- zones 
*/
#global_lighting .btn_square_wide{
    height: 10rem;
    width: 15rem;
    background-color: rgba(70, 70, 70, 0.55);
    backdrop-filter: blur(25px);
    box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px whitesmoke, 5px 6px 15px black;
}
    #global_lighting .btn_square_wide img{
        height: 35%;
    }
    #global_lighting .btn_square_wide p{
        font-size: x-large;
    }

    #global_lighting #active_global{
        background-color: rgb(62, 104, 143);
    }



.zone_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(70, 70, 70, 0.55);
        backdrop-filter: blur(25px);
    padding: 10px;
    border-radius: 10px;
}

.zone_title{
    margin: 0%;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 100;
    
}
    .light_wrapper{
        width: 100%;
        display: flex;
        justify-content:  flex-start;
        align-items: center;
        gap: .4rem;
        flex-wrap: wrap;
    }
        .light_wrapper .light_tile{
            height: 12rem;
            width: 12.5rem;
            background-color: rgb(70,70,70);
            box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5) , -2px -2px 5px rgba(0, 0, 0, 0.95);

        }
            .light_wrapper .light_info .light_name{
             font-size: large;
            }

            .light_wrapper .light_controls .btn_circle{
                height: 3.5rem;
                width: 3.5rem;
            }




    @media only screen and (max-width: 550px) and (orientation: portrait){
        .light_dashboard{
                grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6.75%;
        }

        .title_info{
            font-size: 1.75rem;
            grid-column: 1/13;
            font-weight: 100;
        }

        /*
        ---------------------------------------------------------------- Global tab
        */

        .light_container_global{
            grid-column: 1/13;
            grid-row: 2/8;
            overflow: hidden;
            height: 100%;
            width: 100%;
            animation: room_selection 1000ms;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #global_lighting{
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        #global_lighting .light_wrapper{
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(6,1fr);
            
        }

        #global_lighting .btn_square_wide{
            height: 90%;
            width: 100%;

            background-color: rgba(70, 70, 70, 0.55);
            backdrop-filter: blur(25px);
            box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px whitesmoke, 5px 6px 15px black;
        }
            #global_lighting .btn_square_wide p{
                font-size: large;
            }
            #global_lighting .btn_square_wide img{
                height: 30px;
            }


            .light_container_global .zone_section{
                padding: 10px;
            }

        /*
        ---------------------------------------------------------------- end of Global tab
        */


      


        

        /*
        ---------------------------------------------------------------------------------------- light container 
        */
    

        .light_dashboard .light_container{
            grid-column: 1/13;
            grid-row: 2/8;
         
        }
        .zone_title{
            text-align: center;
            color: white;
        }
        .light_wrapper{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: 10rem;        
            justify-items: center

        }
        .light_dashboard .light_tile{
            height: 100%;
            width: 100%;
            background-color: rgb(70,70,70);
        }



        .light_dashboard .nav button p{
            font-size: small;
        }
    
        


    }




    @media only screen and (max-height: 550px) and  (orientation: landscape){

     .zone_section{
        display: none;
     }
    
        
    
        .light_dashboard .landscape_warning{
            grid-column: 2/12;
            grid-row: 2/9;
            z-index: 10;
     
        }
    }
    
    
    

    
@media only screen and (min-width: 776px) and (orientation: portrait){
    .light_dashboard{
    grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;
    }

    .light_container_global{
        grid-column: 1/13;
        grid-row: 2/8;
    }
    .light_dashboard .light_container{
        grid-column: 1/13;
        grid-row: 2/8;
    
    }


  }