.pool_spa_dashboard{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;
    


}

  .pool_spa_dashboard .title_info{
    grid-column: 2/12;
  }
  
  

 /*
        ------------------------------- short nav 
    */

    .pool_spa_dashboard .nav_container{
        grid-row: 1/2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        backdrop-filter: blur(0px);
    }

    .pool_spa_dashboard .nav_container:before{
        background-color: transparent;
    }







    /*
    --------------------------------------------------- Pool Section 
    */

        .pool_container{
            grid-column: 2/6;
              grid-row: 2/9;
            background-color: rgba(70, 70, 70, 0.5);
            backdrop-filter: blur(15px);
            width: 100%;
            height: 75%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border-radius: 1rem;
            animation: controller-load 1000ms


        }

    /*
    --------------------------------------------------- button_container


    */
    .button_container{
        grid-column: 6/8;
          grid-row: 2/9;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        animation: controller-load 1000ms
        
    }

        .air_temp_wrapper{
            z-index: 10;
            width: 10rem;
            height: 5rem;
            background-color: rgb(70, 70, 70, .5);
            backdrop-filter: blur(15px);
            border-radius: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
            .air_temp_wrapper p{
                z-index: 10
            }
        .pool_spa_dashboard .btn_square_wide{
            background-color: rgb(70,70,70);
            box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px whitesmoke, 5px 6px 15px black;
        }


        .pool_spa_dashboard .btn_square_wide:active{
            background-color: rgb(70,70,70);
            box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px whitesmoke, 5px 6px 15px black;
        }

        .button_container p{
            font-size: larger;
        }

        



    /*
    --------------------------------------------------- Spa Section 
    */

    .spa_container{
        grid-column: 8/12;
          grid-row: 2/9;
        background-color: rgba(70, 70, 70, 0.5);
        backdrop-filter: blur(15px);
        width: 100%;
        height: 75%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        animation: controller-load 1000ms
       
    }

    /*
        --------------------------------------------------- Current temp circle
    */


  .container_title{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 60%;
        border-bottom: solid 1px white;
  }
    .current_temp{
        height: 10rem;
        width: 10rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);

        justify-content: center;
        align-content: center;
    }
        .current_temp_wrapper{
            display: flex;
            justify-content:center;
            align-items: center;
            gap: 1rem;
        }
            .pool_set_point{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
               
            .pool_set_point h1{
                margin: 0%;
                padding: 0%
            }


            .current_temp_outter_circle{
                grid-column: 1/4;
                grid-row: 1/4;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                background-color: rgb(0, 217, 255);
                z-index: 10;

                display: flex;
                justify-content: center;
                align-items: center;
            }
                .current_temp_inner_circle{
                    grid-column: 1/4;
                    grid-row: 1/4;
                    height: 92%;
                    width: 92%;
                    border-radius: 100%;
                    background-color: rgba(70, 70, 70, 0.95);
                    z-index: 12;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                    .current_temp_inner_circle p{
                        font-size: 2rem;
                        width: 100%;
                        text-align: center;
                    }
                    .current_temp_inner_circle .temp_text{
                            font-size: small;
                        }

        .pool_control_button{
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

        }
            .pool_control_button p{
                font-size: larger;
            }


    /*
    -------------------------------------- lock out mode 
    */


    .lock_out_mode{
        grid-column: 1/13;
        grid-row: 2/9;
        z-index: 30;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(70,70,70,0.5);
        backdrop-filter: blur(5px);
        border-radius: 20px;
    }
        .lock_out_mode h1{
            width: 70%;
            height: 6rem;
           background-color: rgb(40,40,40);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 40px;
            color: red;
        }





        @media only screen and (max-width: 550px) and (orientation: portrait){

           .pool_spa_dashboard .title_info{
                font-size: 1.75rem;
                grid-column: 1/13;
                font-weight: 100;
            }


            .air_temp_wrapper{
                display: none;
            }
           

           
            .pool_spa_dashboard .nav_container{
                display: none;
            }
            .pool_spa_dashboard{
                grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                
            }

            .button_container{
                grid-row: 8/9;
                grid-column: 1/13;
                flex-direction: row;
                justify-content: space-evenly;

                background-color: rgba(255, 255, 255, 0.325);
                backdrop-filter: blur(25px);
                border-radius: 1rem;
                height: 80%;


                
            }
            .button_container .btn_square_wide{
                width: 4.25rem;

            }


            /*
            -------------------------------------pool 
            */

            .pool_container{
                grid-column: 2/12;
                grid-row: 2/5;
                height: 100%;
                width: 110%;
            }

            .spa_container{
                grid-column: 2/12;
                grid-row: 5/8;
                height: 100%;
                width: 110%;
               
            
            }

            .container_title{
                position: absolute;
                border-bottom: none;
                top: 10px;
                right: 195px;
                
            }

            .pool_control_button .btn_square_wide{
                width: 7rem;
                height: 3rem;


            }

            .button_container p{
                font-size: .8rem;
            }
        }

        @media only screen and (max-device-width: 390px) and (orientation: portrait){
            .pool_container{
                grid-column: 2/12;     
                width: 110%;
            }

            .spa_container{
                grid-column: 2/12;
                width: 110%;

            }



            .container_title{
                position: absolute;
                border-bottom: none;
                top: 10px;
                right: 185px;
                
            }

            .button_container .btn_square_wide{
                width: 3.75rem;
                height: 3.75rem;

            }
            .current_temp{
                height: 8rem;
                width: 8rem;
            }
            .title_info{
                font-size: 1.5rem;
                grid-column: 1/13;
                font-weight: 100;
            }

           

          
        }



#heat_active{
    background-color: rgb(247, 77, 77);
}

#active_btn{
    background-color: rgb(39, 109, 171);
}
    




@media only screen and (max-device-width: 375px) and (orientation: portrait){
.container_title{
    font-size: large;
}
}


@media only screen and (max-height: 550px) and  (orientation: landscape){

    .pool_container, .spa_container, .button_container{
        display: none;
    }

    .pool_spa_dashboard .title_info{
        text-align: center;
        font-weight: 100;
        font-size: xx-large;
    }


    .pool_spa_dashboard .landscape_warning{
        grid-column: 2/12;
        grid-row: 2/9;
        z-index: 10;
 
    }
}



@media only screen and (min-width: 776px) and (orientation: portrait){

    .pool_spa_dashboard .title_info{
        font-size: 3.25rem;
        grid-column: 1/13;
        font-weight: 100;
    }


    

   
    .pool_spa_dashboard .nav_container{
        display: none;
    }
    .pool_spa_dashboard{
        grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }

    .button_container{
        grid-row: 2/4;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);


       gap: 10px;
        border-radius: 1rem;
        height: 80%;


        
    }
    .button_container .btn_square_wide{
        width: 100%

    }

    .air_temp_wrapper{
        grid-column: 3/6;
     
    }
   


    /*
    -------------------------------------pool 
    */

    .pool_container{
        grid-column: 1/7;
        grid-row: 4/8;
        height: 100%;
        width: 100%;
    }

    .spa_container{
        grid-column: 7/13;
        grid-row: 4/8;
        height: 100%;
        width: 100%;

      
    
    }

    .container_title{
        position: absolute;
        border-bottom: none;
        top: 10px;
        right: 195px;
        
    }

    .pool_control_button .btn_square_wide{
        width: 7rem;
        height: 3rem;


    }

    .button_container p{
        font-size: .8rem;
    }
}