
.global-audio-title{
    grid-column: 2/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xxx-large;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px rgb(40, 40, 40);
    border-bottom: dotted 1px rgb(40, 40, 40);
}

.global-audio-menu{
    padding-top: 10px;
    grid-column: 1/6;
    grid-row: 2/10;

    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: .75rem;
    overflow: scroll;
 
  
}

.global-all-mute{
    grid-column: 2/5;
    grid-row: 10;
    background-size: 300% 300%;

   
}
    .global-all-mute div{
        border: solid 1px white;
        border-radius: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        width: 100%;
        overflow: hidden;
        padding: 0%;
        height: 50%;
    }
    .global-all-mute div button{
        border:none;
    }

   
    .global-all-mute button p{
        font-size: x-large;
        padding: 0%;
    }

    .mute-all{
      display: flex;
      justify-content: center;
      align-items: center;

        grid-column: 1/2;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-45deg,rgb(204, 92, 92)25%,rgb(194, 0, 0) 50%,rgb(255, 0, 0) 100%);
       
    }

    .unmute-all{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg,rgb(70, 101, 160)25%,rgb(19, 78, 167) 50%,rgb(5, 26, 122) 100%);
    }


    .global-all-mute button active{
        background-color: rgb(40, 40, 40);
    }

    .mute-all:active{
        background-size: 300% 300%;
        background-image: linear-gradient(-45deg,rgb(39, 39, 39)25%,rgb(54, 54, 54) 50%,rgb(51, 49, 49) 100%);
    }
    .unmute-all:active{
        background-size: 300% 300%;
        background-image: linear-gradient(-45deg,rgb(39, 39, 39)25%,rgb(54, 54, 54) 50%,rgb(51, 49, 49) 100%);
    }
    






@media screen and (max-width:550px) and (orientation:portrait) {
    .global-audio-title{
        font-size: x-large;
    }
    .all-off-banner{
        font-size: medium;
    } 
    .global_power_grid, .global-all-off{
        grid-column: 1/6;
    }
    

    .global-all-off button{
        width: 75%;
    }
    .global_power_card{
        height: 5rem;
    }
  
    .global-all-mute {
        grid-column: 1/6;
        width: 100%;
        
    }

    .global-all-mute div{

        height: 50%;
    }

    .global-all-mute div button p{
        font-size: medium;
    }

    .global-all-mute {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-items: flex-end
    }
}